{% extends 'base.html' %}
{% load staticfiles %}
{% block nav-head %}
	{{ block.super }}
{% endblock %}
{% block nav-top %}
       {{ block.super }}
{% endblock %}
{% block nav-side %}
	{{ block.super }}
{% endblock %}
{% block content %}
    <div id="page-wrapper">
        {% for shortcut_list in shortcut_lists %}
            <a href="{{ shortcut_list.website }}" target="_blank" title="{{ shortcut_list.comment }}">{{ shortcut_list.name }}</a>
        {% endfor %}

    </div>
    <!-- /#page-wrapper -->
{% endblock %}
{% block theme %}
	<!-- Custom Theme JavaScript -->
    <script src="{% static 'js/sb-admin-2.js' %}"></script>
	 <!-- DataTables JavaScript -->
    <script src="{% static 'js/jquery.dataTables.min.js' %}"></script>
    <script src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>

    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
                responsive: true
        });
    });
    </script>
{% endblock %}







